html {
    background-color: #dceeec;

}

a {
    text-decoration: none;
}

a:link {
    color: #4e92a2;
}

a:visited {
    color: #4e92a2;
}

a:hover {
    color: #2c555e;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    grid-template-rows: repeat(8, 0.2fr);
}

.logo {
    font-family: 'Roboto Slab', serif;
    font-weight: 200;
    font-size: 1.25rem;
    grid-column: 2 / 4;
    grid-row: 1 / 1;
    text-align: justify;
    color: #4e92a2;

}

.deco {
    color:
        #c8cc96;
}


.navigation {
    grid-column: 4 / 6;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.5rem;
}

.navigation nav ul li {
    border-style: solid;
    border-radius: 0.2rem;
    border-color: #c8cc96;
    border-width: 1.5px;
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;
    margin-top: 1.5rem;
    margin-right: 0.5rem;
    padding: 0;
    color: #4e92a2;
}

.lignone {
    grid-column: 2 / 6;
    grid-row: 1 / 3;
    border-top: 1px solid #4e92a2;
    margin-top: 5.5rem;
    border-width: 0.1rem;
    font-family: 'Lora', serif;
    font-size: 0.8rem;
}

img {
    width: 100%;
}
.paragraph {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    margin-right: 2rem;

}

h2 {
    font-family: 'Lora', serif;
    font-weight: 800;
    color: #4e92a2;
    border-bottom: 0.4rem solid #c8cc96;
    border-radius: 0.4em;
}
p {
    font-family: 'Lora', serif;
    font-size: 0.85rem;
    text-align: justify;
}
.balise {
    font-weight: bold;
}
table, th, td { 
    grid-column: 4 / 6;
    grid-row: 4 / 8;
    border-collapse: collapse;
    border: solid #4e92a2 0.1rem;
    padding: 0.5rem;
    font-family: 'Roboto', sans-serif;
}

th {
    background-color:#4e92a2; ;
    text-align: center;
    color: #ffffff;
    border: solid black 0.1rem;
}

p, .paragraphtwo {

    grid-column: 2 / 4;
    grid-row: 4 / 8;
    margin-right: 2rem;

}

img {
    grid-column: 4 / 6;
    grid-row: 2 / 3;
    margin-right: 2rem;
    width: 60%;
    padding-top: 3rem;

}